body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #ccc;
}


h1 {
    padding-top: 20px;
    color:indianred;
    text-align: center; 
}

.button-container {
    margin-bottom: 20px;
    display: flex;
    gap: 15px;
    flex-wrap: wrap; 
    justify-content: center; 
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    background-color:goldenrod;
    color: black;
    border-radius: 5px;
}

button:hover {
    background-color: rgb(184, 137, 18);
}

.iframe-container {
    width: 90%;
    height: 70vh;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: auto; 
    position: relative;
    margin-top: 20px; 
}

iframe {
    width: 90%;
    height: 70%;
    border: none; 
}
